@font-face {
  font-family: "HelveticaNeue"; /* Имя шрифта */
  src: url(../fonts/HelveticaNeue-Medium.ttf);
  font-weight: normal;
  font-style: normal;
 }
 @font-face {
  font-family: "HelveticaNeue"; /* Имя шрифта */
  src: url(../fonts/HelveticaNeue-Bold.ttf);
  font-weight: 400;
  font-style: 400;
 }
 @media screen and (orientation: landscape) {
  #lp,#rp {
  margin-top: -2.5%;
  }
}
 /*@import url("../js/font.js");*/
/*---------------------------*/
/*header {
  font-family: "HelveticaNeue";
  padding: 20px;
  background: #fff;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding:0
}
/*---------------------------*/
.body{
  font-family: "HelveticaNeue";
}
.chartLeft{  
  width: 35%;
  float: left;
  margin: auto;
  margin-left: 10%;
  margin-bottom: 7%;
}
.chartRight{  
  width: 35%;
  float: right;
  margin: auto;
  margin-right: 10%;
  margin-bottom:  7%;
}
hr{
  border: none; /* Убираем границу для браузера Firefox */
  color:#00abba; /* Цвет линии для остальных браузеров */
  background-color:#00abba; /* Цвет линии для браузера Firefox и Opera */
  height: 1px; /* Толщина линии */
 }
.fhr {
  margin: 0;
 }
/*---------------------------*/
.lp{
position:absolute;
vertical-align: middle;
float: left;
display: flex; 
justify-content: space-evenly;
width: 60%;
bottom: 30%;
}
.rp{
  position:absolute;
vertical-align: middle;
float: right;
right: 5%;
bottom: 30%;
}
/*.rp{
  margin: auto;
  margin-right: 5%;  
  float: right;
  margin-top: +0.725em;
  -webkit-tap-highlight-color:transparent;
}
.lp{
  margin: auto;
  margin-left: 5%;
  float: left;
  margin-top: +0.725em;
  -webkit-tap-highlight-color:transparent;
}*/
footer{
  font-family: "HelveticaNeue";
  position: fixed; /* Фиксированное положение */
  right: 0; bottom: 0; /* Левый нижний угол */
  background: #fff; /* Цвет фона */
  color: #00abba; /* Цвет текста */
  width: 100%; /* Ширина слоя */
  font-size: 20px;
  padding: 0;
  height: 10%;
}
h2{
  font-family: "HelveticaNeue";
  color: #6d6e71;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 1%;
}
.Chart1{
  margin: auto;
  width: 100%;
}
.bdiv{
  margin-top: 1%;
  display: flex;
  margin-bottom: 17%;
}
.hdiv{
  display: flex; 
  justify-content: space-evenly;
}
.fdiv{
  margin-top: -5%;
}
p{
  -webkit-tap-highlight-color:transparent;
  margin: auto;
}
/*---------------------------*/
.elemOne {
  background: url("../icons/growth.svg");
  width: 74px;
  height: 74px;
  display: block;
  -webkit-tap-highlight-color:transparent;
}
.elemOne-new {
  background: url('../icons/growth_red.svg');
  width: 74px;
  height: 74px;
  display: block;
  -webkit-tap-highlight-color:transparent;
}

  elemOne:hover {
  background: url('../icons/growth_red.svg');
  width: 74px;
  height: 74px;
  display: block;
  -webkit-tap-highlight-color:transparent;
}
/*---------------------------*/
.elemTwo {
  background: url('../icons/percentage.svg');
  width: 74px;
  height: 74px;
  display: block;
  -webkit-tap-highlight-color:transparent;
}

.elemTwo-new {
  background: url('../icons/percentage_red.svg');
  width: 74px;
  height: 74px;
  display: block;
  -webkit-tap-highlight-color:transparent;
}

.elemTwo:hover {
  background: url('../icons/percentage_red.svg');
  width: 74px;
  height: 74px;
  display: block;
  -webkit-tap-highlight-color:transparent;
}
/*---------------------------*/
.elemThree {
  background: url('../icons/check.svg');
  width: 74px;
  height: 74px;
  display: block;
  -webkit-tap-highlight-color:transparent;
}

.elemThree-new {
  background: url('../icons/check_red.svg');
  width: 74px;
  height: 74px;
  display: block;
  -webkit-tap-highlight-color:transparent;
}

.elemThree:hover {
  background: url('../icons/check_red.svg');
  width: 74px;
  height: 74px;
  display: block;
  -webkit-tap-highlight-color:transparent;
}
/*---------------------------*/