@font-face {
  font-family: "HelveticaNeue"; /* Имя шрифта */
  src: url(../fonts/HelveticaNeue-Medium.ttf);
  font-weight: normal;
  font-style: normal;
 }
 @font-face {
  font-family: "HelveticaNeue"; /* Имя шрифта */
  src: url(../fonts/HelveticaNeue-Bold.ttf);
  font-weight: 400;
  font-style: 400;
 }

 /*@import url("../js/font.js");*/
/*---------------------------*/
header {
  font-family: "HelveticaNeue";
  padding: 20px;
  background: #fff;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding:0
}
/*---------------------------*/
.body{
  font-family: "HelveticaNeue";
}
.chartLeft{  
  width: 35%;
  float: left;
  margin: auto;
  margin-left: 10%;
  margin-bottom: 7%;
}
.chartRight{  
  width: 35%;
  float: right;
  margin: auto;
  margin-right: 10%;
  margin-bottom:  7%;
}
hr {
  border: none; /* Убираем границу для браузера Firefox */
  color:#00abba; /* Цвет линии для остальных браузеров */
  background-color:#00abba; /* Цвет линии для браузера Firefox и Opera */
  height: 1px; /* Толщина линии */
 }
/*---------------------------*/
.rp{
  margin: auto;
  margin-right: 2%;  
  float: right;
  margin-top: +0.625em;
}
.lp{
  margin: auto;
  margin-left: 5%;
  float: left;
  margin-top: +0.625em;
}
footer{
  font-family: "HelveticaNeue";
  position: fixed; /* Фиксированное положение */
  right: 0; bottom: 0; /* Левый нижний угол */
  background: #00abba; /* Цвет фона */
  color: #fff; /* Цвет текста */
  width: 100%; /* Ширина слоя */
  font-size: 20px;
  padding: 0;
  height: 10%;
}
h2{
  font-family: "HelveticaNeue";
  color: rgb(110,110,110);
  text-align: center;
}
.bdiv{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12%;
}
.hdiv{
  display: flex;
  align-items: center;
  justify-content: center;
}
iframe {
  border: none;
  width: 100%;
  height: 100vh;
}
/*---------------------------*/
.elemOne {
  background: url("../icons/growth.svg");
  width: 74px;
  height: 74px;
  display: block;
  margin-right: 2%;
  margin-left: 2%;
  -webkit-tap-highlight-color:transparent;
}

.elemOne-new {
  background: url('../icons/growth_red.svg');
  width: 74px;
  height: 74px;
  display: block;
  margin-right: 2%;
  margin-left: 2%;
  -webkit-tap-highlight-color:transparent;
}

/*.elemOne:hover {
  background: url('../icons/growth_red.svg');
  width: 74px;
  height: 74px;
  display: block;
  margin-right: 2%;
  margin-left: 2%;
}
/*---------------------------*/
.elemTwo {
  background: url('../icons/percentage.svg');
  width: 74px;
  height: 74px;
  display: block;
  margin-right: 2%;
  margin-left: 2%;
  -webkit-tap-highlight-color:transparent;
}

.elemTwo-new {
  background: url('../icons/percentage_red.svg');
  width: 74px;
  height: 74px;
  display: block;
  margin-right: 2%;
  margin-left: 2%;
  -webkit-tap-highlight-color:transparent;
}

/*.elemTwo:hover {
  background: url('../icons/percentage_red.svg');
  width: 74px;
  height: 74px;
  display: block;
  margin-right: 2%;
  margin-left: 2%;
}
/*---------------------------*/
.elemThree {
  background: url('../icons/check.svg');
  width: 74px;
  height: 74px;
  display: block;
  margin-right: 2%;
  margin-left: 2%;
  -webkit-tap-highlight-color:transparent;
}

.elemThree-new {
  background: url('../icons/check_red.svg');
  width: 74px;
  height: 74px;
  display: block;
  margin-right: 2%;
  margin-left: 2%;
  -webkit-tap-highlight-color:transparent;
}

/*.elemThree:hover {
  background: url('../icons/check_red.svg');
  width: 74px;
  height: 74px;
  display: block;
  margin-right: 2%;
  margin-left: 2%;
}
/*---------------------------*/